<!DOCTYPE html>
<html>
<head>
    <title>  Poll Site </title>
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

</head>
<body>
	
<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />

<a href="{% url 'polls:index' %}">Back</a>
</form>

</body>
</html>