<!DOCTYPE html>
<html>
<head>
    <title>  Poll Site </title>
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

</head>
<body>
<h1>Polls</h1>
<h3>select a poll to vote in</h3>

{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
	<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>
