<!DOCTYPE html>
<html>
<head>
    <title>  Poll Site </title>
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

</head>
<body>

<h1>{{ poll.question }}</h1>

<ul>
{% for choice in poll.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:index' %}">Back</a>


</body>
</html>